:root {
    --primary-bg:#f9f9f9;
    --secondary-bg:#f6f6f6;

    --text-color:#222222;
    --white:#fff;
    --black:#060606;
    --red: #f00;
    --orenge: #f38906;
    --gray: #e5e3da;
    --dark-gray: #7a7a7a;
    --pink: #fef6eb;
    --light-black: #030200;
}